header {
	display: flex; flex-direction: column; justify-content: center; align-items: center;
	position: relative; width: 100%; height: 27rem; padding-top: 3.5rem;
	background: url(../img/header_bg_mob.jpg) 50% 0 no-repeat; background-size: 100% auto;
	h1 {padding: 3.87rem 0 1.6rem;}
	h2 {line-height: 1.7;}
}

/*adaptivity*/
	/*mobile*/
	@media only screen and (min-width: $sm) {
	}
	/*tablets*/
	@media only screen and (min-width: $md) {
	}
	/*desktop or tablets in landscape*/
	@media only screen and (min-width: $lg) {
		header {
			height: 64.19rem; 
			background-image: url(../img/header_bg_med.jpg); background-size: auto 100%;
		}
	}

	/*wideview monitor*/
	@media only screen and (min-width: $xl) {
	}
	/*supperwide view monitor*/
	@media only screen and (min-width: $xxl) {
		header {
			background-image: url(../img/header_bg.jpg);
		}
	}