section {
	background-color: $bg_green-light;
	padding: 5.5rem 0 2rem;
	h2:after {
		content: "˙˙˙";
		display: block;
		width: auto; height: auto;
		position: relative;
		line-height: 1em;
		font-weight: 800;
	}
}
.about__content {
	padding: 1.2rem 2rem 3.5rem;
	p {font-size: $text_low; line-height: 2; padding-top: 1.5rem; padding-right: 0;}
}
.about__users {width: 60%; margin: auto;}
.user__wrapper {padding-bottom: 1rem;}
.user {
	padding-bottom: 1.5rem;
	border: 2px solid transparent;
	transition: 0.7s ease-out 0.01s;
	.user__img {width: 100%; height: 18.065rem; background: url(/img/about_1.jpg) 50% 0 no-repeat; background-size: auto 100%;}
	.user__text {
		padding: 1.5rem 0;
		font-size: $text_medium;
		& > * {margin: auto;} 
		h3.name {width: 94%; padding: 0;}
		h3.name:before,
		h3.name:after {
			content: "//";
			display: inline;
			width: auto; height: auto;
			position: relative;
			padding: 0 0.6rem;
		}
		.prof {width: 94%; padding: 1.5rem 0;}
		.descr {width: 90%; opacity: 0.1; line-height: 1.5;}
	}
}
.user_2 .user__img {background-image: url(/img/about_2.jpg);}
.user_3 .user__img {background-image: url(/img/about_3.jpg);}
.user_4 .user__img {background-image: url(/img/about_4.jpg);}
.user .user__socials {
	position: relative; width: 50%; height: 2rem; margin: auto;
	display: flex; flex-direction: row; justify-content: space-between; align-items: center;
	& > div {width: 20%; height: 100%;}
	a {display: block; width: 100%; height: 100%; text-decoration: none; color: transparent;}
	i {width: 100%; height: 100%; font-size: 1.4em;}
}
.user.active {
	border: 2px solid $bg_green-dark;
	color: $text_white;
	background-color: $bg_green-dark;
	.user__text .descr {opacity: 1;}
	.user__socials {
		a {color: $text_white;}
	}
}
.portfolio_nav {
	position: relative;
	width: 100%; height: auto; margin: auto; padding: 2rem;
	a:hover {color: $text_green;}
}
.slider {
	position: relative; width: 100%; height: auto;
	padding: 2rem;
}
.swiper-container {width: 100%; height: calc(20.64rem + 20px);}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom: 0;}
.slide {
	width: 100%; height: 20.64rem; color: transparent;
	background: url(../img/gallery_1.jpg) 50% 0 no-repeat; background-size: auto 100%;
}
.slide_2 {background-image: url(../img/gallery_2.jpg);}
.slide_3 {background-image: url(../img/gallery_3.jpg);}
.slide_4 {background-image: url(../img/gallery_4.jpg);}
.slide_5 {background-image: url(../img/gallery_5.jpg);}
.slide_6 {background-image: url(../img/gallery_6.jpg);}
.slide_7 {background-image: url(../img/gallery_7.jpg);}
.slide_8 {background-image: url(../img/gallery_8.jpg);}
.swiper-pagination-bullet-active {background: $bg_green-dark;}
.gallery {
	position: relative; width: 100%; padding: 0; margin: auto; height: auto;
	display: none; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;
}
.slide_wrapper {
	position: relative; width: 100%; height: 100%;
	display: flex; flex-direction: column; justify-content: center; align-items: center;
	color: $text_white; background-color: $bg_green-dark-opacity; opacity: 0;
	transition: opacity 0.6s ease-out 0.01s;
	.cross {width: 3rem; height: 3rem; background: url(../img/gallery_cross-move.png) 50% 50% no-repeat; background-size: cover; margin-top: 1.5rem;}
}
.slide:hover .slide_wrapper {opacity: 1;}

.section_3 {background-color: $bg_white;}
.features {
	display: block; position: relative; width: 100%; height: auto;
	padding-top: 3.5rem;
	text-align: left;
	.features__item {
		padding: 0 1rem; padding-bottom: 3.5rem;
		& > div {display: block; position: relative;}
		.img {
			display: block; width: 7.355rem; height: 7.355rem; 
			background: url(../img/services_phone.png) 50% 50%; background-size: cover;
		}
		.title {
			width: 100%;
			padding: 1rem 0; margin: auto;
			font-size: $h4; line-height: 1.25; font-weight: 400; letter-spacing: 1.5px;
		}
		.text {font-size: $text_low; line-height: 2;}
		.link {text-align: right; font-size: $h3; line-height: 2; font-weight: 700; opacity: 1; transition: opacity 0.6s ease-out 0.01s; cursor: pointer;}
	}
	.features__wrapper {width: 100%; height: 100%; background-color: $bg_green-light; transition: background-color 0.6s ease-out 0.01s;}
	.features__item_2 .img {background-image: url(../img/services_settings.png);}
	.features__item_3 .img {background-image: url(../img/services_layout.png);}
	.features__item_4 .img {background-image: url(../img/services_clock.png);}
}
.posts {
	padding-top: 4.2rem;
	.item__wrapper {position: relative; width: 100%; height: 100%; padding-bottom: 2rem;}
	.posts__item {
		position: relative; width: 100%; height: 100%;
		background-color: $bg_white;
		.img {
			width: 100%; height: 100vw;
			background: url(../img/blog_1.jpg) 50% 0 no-repeat; background-size: 100%;
		}
		.content {
			box-sizing: border-box;
			position: relative; width: 100%; height: 23.225rem; padding: 1rem; overflow: visible;
			text-align: left;
			.content__wrapper {
				display: flex; flex-direction: column; justify-content: space-between;
				position: relative; width: 100%; height: 100%; overflow: hidden;
			}
			.subject {font-size: $text_medium; line-height: 1.3; font-weight: 400; color: $text_green;}
			.title {font-size: $h4; line-height: 1.25; font-weight: 400; padding-bottom: 1rem; padding-top: 0.5rem;}
			.text {
				font-size: $text_medium; line-height: 1.5; font-weight: 400;
			}
			.text:after {
			  content: '˙˙˙';
			  display: none; width: auto; height: 1em; padding-left: 1rem; padding-right: 0.3rem;
			  position: absolute; right: 0; bottom: -2px;
			  background-image: linear-gradient(left, transparent, $bg_white 40%);
			  font-size: 1.5em;
			}
			.text.bigger:after {display: block;}
		}
	}
}
.posts .posts__item_2 .img {background-image: url(../img/blog_2.jpg);}
.posts .posts__item_3 .img {background-image: url(../img/blog_3.jpg);}
.posts .posts__item_4 .img {background-image: url(../img/blog_4.jpg);}
.posts .posts__item_5 .img {background-image: url(../img/blog_5.jpg);}
.posts .posts__item_6 .img {background-image: url(../img/blog_6.jpg);}
.posts .posts__item_7 .img {background-image: url(../img/blog_7.jpg);}
.posts .posts__item_8 .img {background-image: url(../img/blog_8.jpg);}

/*adaptivity*/
	/*mobile*/
	@media only screen and (min-width: $sm) {
	}
	/*tablets*/
	@media only screen and (min-width: $md) {
	}
	/*desktop or tablets in landscape*/
	@media only screen and (min-width: $lg) {
		section {padding: 6.71rem 0 5.87rem;}
		.about__content {padding: 3.226rem 2rem 6.77rem;}
		.about__content p {padding-top: 0; padding-left: 2.5rem;}
		.about__content > div> div:first-child > p {padding-left: 0; padding-right: 2.5rem;}
		.about__users {width: 100%;}
		.user__wrapper {padding-bottom: 0;}
		.user .user__text 	.descr {opacity: 0;}
		.user .user__img {background-size: 100% auto;}
		.slider {display: none;}
		.slide {width: 25%; height: 17vw;}
		.gallery {display: flex; padding-top: 3.35rem;}
		.features .features__item .features__wrapper {background-color: transparent;}
		.features .features__item .link {opacity: 0;}
		.features .features__item:hover .features__wrapper {background-color: $bg_green-light;}
		.features .features__item:hover .link {opacity: 1;}
		.posts .posts__item .img {height: 18rem; background-size: 100% auto;}
	}
	/*wideview monitor*/
	@media only screen and (min-width: $xl) {
	}
	/*supperwide view monitor*/
	@media only screen and (min-width: $xxl) {
		section > .wrapper {width: 1400px;}
		.user__wrapper {padding: 0 1rem;}
		.slide {height: 20.64rem;}
	}